@page "/Reset-Password"

@using System.Web
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager nav

<h3>סיסמה חדשה</h3>


<EditForm Model="@password" OnValidSubmit="Reset">
    <DataAnnotationsValidator />


    <div>
        <label for="password">סיסמה:</label>
        <InputText id="password" type="password" @bind-Value="password.NewPassword" />
        <ValidationMessage For="@(() => password.NewPassword)" />
    </div>

    <div>
        <label for="confirmPassword">אימות סיסמה:</label>
        <InputText id="confirmPassword" type="password" @bind-Value="password.ConfirmPassword" />
        <ValidationMessage For="@(() => password.ConfirmPassword)" />
    </div>
    <br />
    <p>@message</p>

    <button type="submit" disabled="@loading">שמירת הסיסמה</button>


</EditForm>


@code {
    [CascadingParameter]
    private User user { get; set; }

    [Inject]
    public IAuthenticationService _Auth { get; set; }

    UserResetPassword password = new UserResetPassword();

    string message = "";
    bool loading = false;



    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(nav.Uri);

        // מציאת הטוקן שהגיע
        var queryParams = HttpUtility.ParseQueryString(uri.Query);
        string? token = queryParams["token"];


        //אם אין טוקך
        if (string.IsNullOrEmpty(token))
        {
            //חזרה לדף הראשי
            nav.NavigateTo(PageRoutes.Login);
        }
        else
        {
            //אימות המשתמש
            await _Auth.resetPasswordAuth(token);
            await Task.Delay(1); // דיליי קטן - לעדכון הממשק

        }
    }


    public async Task Reset()
    {
        loading = true;
        message = "";
        password.Id = user.Id;
        string response = await _Auth.ResetPassword(password);
        if (response == AuthResults.Success)
        {
            nav.NavigateTo(PageRoutes.Login);
        }
        else
        {
            message = "קרתה תקלה";
        }


    }
}
